.galleri-velkomst {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding: 0 0 20px 0;
}

.galleri-container  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.galleri-img-wrapper {
    width: 150px;
    height: 200px;
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
}

.galleri-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* lille mobil */

@media screen and (max-width: 320px) {
    
}

/* tablet */

@media screen and (min-width: 768px) {

}

/* laptop */

@media screen and (min-width: 1200px) {

}