.galleri-velkomst {
    text-align: center; /* centrerer teksten */
    width: 70%;
    margin: 0 auto; /* centrerer teksten */
    padding: 30px;
}

.galleri-velkomst h2 {
    margin-bottom: 20px; /* tilføjet margin-bottom for bedre afstand mellem h2 og p */
}

.galleri-container  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
    padding: 0 30px; /* sørger for at billederne ikke rører skærmkanten - specielt i responsiv */
}

.galleri-img-wrapper {
    width: 100%;
    aspect-ratio: 3 /4; /* bevarer billedets proportioner */
    overflow: hidden;
    border-radius: 10px;
}

.galleri-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* lille mobil */

@media screen and (max-width: 320px) {
    
}

/* tablet */

@media screen and (min-width: 768px) {
    .galleri-velkomst {
        width: 50%;
        padding: 30px 0 30px 0;
    }
    
    .galleri-img-wrapper {
        width: 220px;
        height: 270px;
    }
}

/* laptop */

@media screen and (min-width: 1200px) {
    .galleri-velkomst {
        width: 40%;
    }
    
    .galleri-img-wrapper {
        width: 250px;
        height: 300px;
    }

    .galleri-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1400px) {
    .galleri-velkomst {
        width: 35%;
    }
    
    .galleri-img-wrapper {
        width: 300px;
        height: 350px;
    }
}