.galleri-velkomst {
    text-align: center; /* centrerer teksten */
    width: 70%;
    margin: 0 auto; /* centrerer teksten */
    padding: 30px;
}

.galleri-velkomst h2 {
    margin-bottom: 20px; /* tilføjet margin-bottom for bedre afstand mellem h2 og p */
}

.galleri-container  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
    padding: 0 30px; /* sørger for at billederne ikke rører skærmkanten - specielt i responsiv */
}

.galleri-img-wrapper {
    width: 100%;
    aspect-ratio: 3 / 4; /* bevarer billedets proportioner */
    overflow: hidden;
    border-radius: 10px;
}

.galleri-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease; /* tilføjet transition for glidende effekt */
}

.galleri-img-wrapper img:hover {
    transform: scale(1.05); /* zoom-effekt ved hover */
}

/* Overlays til åbnet billede */

.galleri-overlay {
    position: fixed;
    inset: 0;
    padding: 20px;
    background-color: #1a1a1a50; /* semi-transparent mørk baggrund */
    backdrop-filter: blur(5px); /* slører baggrunden */
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 999;
}

.galleri-overlay.active {
    display: flex;
    opacity: 1;
}

.galleri-overlay-backdrop {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #FAFAF8;
    padding: 10px;
    border-radius: 15px;
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
    gap: 10px;
}

.galleri-overlay img {
    max-width: 80vw;
    max-height: 80vh;
    border-radius: 10px;
    margin-bottom: 10px;
}

.galleri-overlay-close-button {
    position: absolute;
    top: 20px;
    right: 15px;
    cursor: pointer;
    z-index: 1000;
}

.galleri-overlay-close-button img {
    width: 50px;
    height: auto;
}
.galleri-overlay-img-caption {
    font-family: 'playfair display', serif;
    width: 80%;
    margin-bottom: 10px;
}

/* lille mobil */

@media screen and (max-width: 320px) {
    
}

/* tablet */

@media screen and (min-width: 768px) {
    .galleri-velkomst {
        width: 50%;
        padding: 30px 0 30px 0;
    }

    .galleri-container {
        grid-template-columns: repeat(3, 1fr);
        padding: 0 50px;
    }
    
    .galleri-img-wrapper {
        aspect-ratio: 4 / 5;
    }
}

/* laptop */

@media screen and (min-width: 1200px) {
    .galleri-velkomst {
        width: 40%;
    }

    .galleri-container {
        grid-template-columns: repeat(4, 1fr);
        padding: 0 70px;
    }
}

@media screen and (min-width: 1400px) {
    .galleri-velkomst {
        width: 35%;
    }
}