.galleri-velkomst {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding: 30px;
}

.galleri-velkomst h2 {
    padding: 0 0 10px 0;
}

.galleri-container  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 30px; /* sørger for at billederne ikke rører skærmkanten - specielt i responsiv */
}

.galleri-img-wrapper {
    width: 150px;
    height: 200px;
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
}

.galleri-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* lille mobil */

@media screen and (max-width: 320px) {
    
}

/* tablet */

@media screen and (min-width: 768px) {
    .galleri-velkomst {
        width: 50%;
        padding: 30px 0 30px 0;
    }
    
    .galleri-img-wrapper {
        width: 220px;
        height: 270px;
    }
}

/* laptop */

@media screen and (min-width: 1200px) {
    .galleri-velkomst {
        width: 40%;
    }
    
    .galleri-img-wrapper {
        width: 250px;
        height: 300px;
    }
}

@media screen and (min-width: 1400px) {
    .galleri-velkomst {
        width: 35%;
    }
    
    .galleri-img-wrapper {
        width: 300px;
        height: 350px;
    }
}