/* Popup styling */

/* Background overlay */
.kontakt-overlay {
  position: fixed;
  inset: 0;
  background-color: #F8F0E2;
  display: none; /* er som standard gemt */
  justify-content: center;
  align-items: center;
  z-index: 98;
  opacity: 0;
}

.kontakt-overlay.active {
  display: flex;
  opacity: 1;
}

.kontakt-container {
  position: relative;
  background: #F8F0E2;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  max-height: 90%;
}

.luk-kontakt-overlay {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.buy-button {
  z-index: 70;
  transition: opacity 1s ease;
  cursor: pointer;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease;
}

.fade-in {
  opacity: 1;
  transition: opacity 1s ease;
}