h2 {
    margin: 0 0 10px 0;
}

.event-img-wrapper-1 {
    width: 90%;
    height: 400px;
    overflow: hidden; /* skjuler det, der går ud over boksen */
}

.event-img {
    width: 100%;
    height: 100%;
    border-radius: 5%; /* afrunder hjørnerne - følger designmanualen */
    object-fit: cover; /* sikrer at billedet dækker hele boksen uden at blive forvrænget */
}

.blue-heart {
    margin: 0 2% 0 0;
}

.underevents-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.underevents-container-text {
    margin: 20px auto 20px auto;
    line-height: 1.6;
    width: 80%;
}

.underevents-left, .underevents-left-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
}

.underevents-left {
    text-align: left;
}

.underevents-left div {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.underevents-left p {
    line-height: 2;
    margin: 0;
}

#julebingo-text {
    display: flex;
    flex-direction: column;
}

#julebingo-text div {
    display: flex;
    align-items: left;
    flex-direction: row;
    margin: 5px 0;
}

.blue-heart {
    width: 10px;
    height:auto;
}

.book-button {
    margin: 15px 0 0 0;
    padding: 10px 30px;
    z-index: 10;
}

/* lille mobil */

@media screen and (max-width: 320px) {
    
}


@media screen and (min-width: 480px) {
    
}

/* tablet */

@media screen and (min-width: 768px) {
    .event-img-wrapper-1 {
        width: 70%;
        height: 500px;
    }
    
    .underevents-container-text {
        width: 60%;
    }

    .underevents-left, .underevents-left-2 {
        width: 45%;
    }
}

/* laptop */

@media screen and (min-width: 1200px) {
    .event-img-wrapper-1 {
        height: 700px;
    }

    .underevents-container-text {
        width: 57%;
    }

    .underevents-left, .underevents-left-2 {
        width: 35%;
    }
}